<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <!-- 引入 ECharts 文件 -->
    <script src="static/scripts/echarts.common.min.js"></script>
    <script src="static/scripts/jquery-3.2.1.min.js"></script>
    <title>Index Page</title>
    <style>
        h3{
            text-align: center;
            color: #000;
            font-size: 30px;
            height: 50px;
            line-height: 50px;
            /*background: #0A0F25;*/
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .echartDiv{
            width: 90%;
            min-width: 960px;
            margin: 0 auto;
            /*background: #0A0F25;*/
        }
        #pie1,#pie2,#pie3,#pie4{
            width: 50%;
            height: 400px;
            float: left;
            margin-top:40px;
        }
    </style>
</head>
<body>
<h3>工作汇报展示图</h3>
<div class="echartDiv">
    <div id="pie1"></div>
    <div id="pie2"></div>
    <div id="pie3"></div>
    <div id="pie4"></div>
</div>

</body>
<script type="text/javascript">
    $(function () {
        var basic_url = getRootPath_web();
        var echartData1 = [];
        var echartData2 = [];
        var echartData3 = [];
        var echartData4 = [];
        $.ajax({
            type: "get",
            url: basic_url+"/v1Data",
            dataType: "json",
            success: function (data) {
                var i = 0;
                var len = data.length;
                /* <![CDATA[ */
                for (; i < len; i++) {
                    var tmpObj = {};
                    tmpObj.value = data[i].sumhours;
                    tmpObj.name = data[i].projectname;
                    echartData1.push(tmpObj);
                }
                /* ]]> */
                console.log(echartData1);
                pieShow("pie1", echartData1, "汇总");
            }
        });

        $.ajax({
            type:"get",
            url:basic_url+"/v2Data",
            dataType:"json",
            success:function(data){
                /* <![CDATA[ */
                for(var i=0,len=data.length;i<len;i++){
                    var tmpObj2 = {};
                    var tmpObj3 = {};
                    var tmpObj4 = {};
                    tmpObj2.name = data[i].cudept;
                    tmpObj2.value = data[i].sumhours;
                    echartData2.push(tmpObj2);
                    tmpObj3.name = data[i].cudept;
                    tmpObj3.value = data[i].sumcadre;
                    echartData3.push(tmpObj3);
                    tmpObj4.name = data[i].cudept;
                    tmpObj4.value = data[i].deptload;
                    echartData4.push(tmpObj4);
                }
                /* ]]> */
                pieShow("pie2",echartData2,"本阶段工时汇总");
                pieShow("pie3",echartData3,"本阶段部门干部总人数汇总");
                pieShow("pie4",echartData4,"本阶段各部门工时负荷汇总");
            }
        });

        function pieShow(domIdName, echartData, pieName) {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById(domIdName));
            // 指定图表的配置项和数据
            var option = {
//                backgroundColor: "#0A0F25",
                title: {
                    text: pieName,
                    x: 'left'
                },
                legend: {
                    orient: 'vertical',
                    type: 'scroll',
                    left: 'right',
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '40%',
                        center: ['40%', '40%'],
                        data: echartData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            if(domIdName=="pie1"){
                myChart.on('click', function (param) {
                    localStorage.setItem("demo_param",param.data.name)
                    window.location.href=basic_url+"/click";
                });
            }
        }
        function getRootPath_web(){
            var curWwwPath = window.document.location.href;
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            var localhostPaht = curWwwPath.substring(0, pos);
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);
            return (localhostPaht + projectName);
        }
    });
</script>
</html>